*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-image: linear-gradient(rgba(20,30,100, .9),rgba(20,20,50,1));
    height: 100vh;
}
header {
    color: white;
}
.container {
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    height: 45px;
    width: auto;
}
header nav {
    flex: 1;
    text-align: right;
}
header ul{
    margin-top: 1.4rem;
    margin-right: 5rem;
}
header li {
    font-weight: 700;
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
header ul li a {
    text-decoration: none;
    color: white;
}
.header-button {
    margin-top: 1.2rem;
}
.sign-in-button {
    padding: 8px;
    color: black;
    background-color: rgb(243, 228, 15);
    cursor: pointer;
    border-radius: 10px;
}
.sign-in-button:hover {
    background-color: rgb(196, 185, 38);
}
main {
    padding-top: 1rem;
}
h1 {
    text-align: center;
}

.ocarina {
    font-size: 60px;
    color: #19A7CE;
    letter-spacing: 1px;
}
.main-content {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 2rem;
}
.main-img {
    height: 400px;
    width: 600px;
    background-image: linear-gradient(rgba(20,20,20,0.7),rgba(20,20,20,0.7)), url(/media/main-img.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preorder-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.preorder-img {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgba(20,20,20,0.3),rgba(20,20,20,0.3)), url(/media/game-cover.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 0 0.4em 0 gold;
}
.preorder-img p {
    text-align: center;
}
.trailer-img {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(rgba(20,20,20,0.3),rgba(20,20,20,0.3)), url(/media/trailer-img.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 0 0.4em 0 #19A7CE;
}
.trailer-img p {
    text-align: center;
}
.preorder-img:hover {
    transform: scale(1.1);
    background-image: linear-gradient(rgba(20,20,20,0),rgba(20,20,20,0)), url(/media/game-cover.jpg);
    box-shadow: 0 0 1em 0 gold;
}
.trailer-img:hover {
    transform: scale(1.1);
    background-image: linear-gradient(rgba(20,20,20,0),rgba(20,20,20,0)), url(/media/trailer-img.jpg);
    box-shadow: 0 0 1em 0 #19A7CE;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(20,30,100);
    width: 500px;
    max-width: 80%
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #19A7CE;
}
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-button {
    cursoR: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.modal-body input {
    width: 250px;
    height: 50px;
    border-radius: 15px;
    padding: 0 15px;
    color: rgb(20,30,100);
}
.modal-body span {
    text-decoration: underline;
    color: #19A7CE;
    cursor: pointer;
}
.modal-login-button {
    font-size: 1.5rem;
    color:rgb(20,30,100);
    background-color: rgb(243, 228, 15);
    width: 200px;
    border-radius: 100px;
    cursor: pointer;
}
.modal-login-button:hover {
    background-color: rgb(196, 185, 38);
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}